<%- include('modules/head') -%>
<body class="stretched" id="canvas-container">
	<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="assets/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/revealjs/css/reveal.css" />
	<link rel="stylesheet" href="assets/revealjs/css/theme/black.css" id="theme" />
	<link rel="stylesheet" href="assets/css/fontawesome.css" -->

	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" media="screen" href="deck/core/deck.core.css">

	<link rel="stylesheet" media="screen" href="deck/extensions/goto/deck.goto.css">
	<link rel="stylesheet" media="screen" href="deck/extensions/menu/deck.menu.css">
	<link rel="stylesheet" media="screen" href="deck/extensions/navigation/deck.navigation.css">
	<link rel="stylesheet" media="screen" href="deck/extensions/status/deck.status.css">
	<link rel="stylesheet" media="screen" href="deck/extensions/scale/deck.scale.css">

	<link rel="stylesheet" media="screen" href="deck/themes/style/web-2.0.css">

	<link rel="stylesheet" media="screen" href="deck/themes/transition/horizontal-slide.css">
	<script src="deck/modernizr.custom.js"></script>
	<style>
		.ctrl-panel {
			padding: 5px;
			position: fixed;
			bottom: 50px;
			left: 90;
			right: 0;
			padding-bottom: 10px; 
			width: 100%;  
			z-index: 9;
		}
		#messages { 
			background:rgba(0,0,0,0.5); 
			padding: 5px; 
			margin-bottom: 35px; 
			position: fixed; 
			bottom: 0; 
			width: 100%; 
			max-height: 300px; 
			overflow: auto;
			resize: vertical;
			z-index: 9;
		}
		div.form-group { margin-bottom: 0px; }
		#messages li { padding: 2px 10px; }
		.darkorange { color:darkorange }
		.white { color: white }
		svg { 
			width : 100%; 
			height: -webkit-calc(100% - 35px);
			height:    -moz-calc(100% - 35px);
			height:         calc(100% - 35px);
		}
		.no-slide { background-image: url('http://via.placeholder.com/1280x800'); width: 100%; height: 100%; }
		.pr-45 { padding-right: 45px !important; }
		.pl-45 { padding-left: 45px !important; }
		.pt-5 { padding-top: 5px !important; }
		.pt-10 { padding-top: 10px !important; }

		.chat-bar {
			z-index: 299;
			position: fixed;
			width: 100%;
			height: 60px;
			background-color: #1ABC9C;
			font-size: 20px;
			line-height: 36px;
			top: auto;
			bottom: -5px;
		}

		.chat-square-button {
			width: 50px;
			height: 50px;
		}
	</style>
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    <%- include('modules/header-lobby') -%>

		<div class="deck-container">
			<!-- Begin slides. Just make elements with a class of slide. -->
			<section class="slide">
				<h1>Loading...</h1>
			</section>
		</div>
	</div><!-- #wrapper end -->
	<div class="chat-list">
		<ul class="resize vertical" id="messages" style="margin-left: 0px; margin-bottom: 60px;"></ul>
	</div>
	<div class="ctrl-panel" style="display: none;"></div>
	<input type="hidden" id="user" value="<%= user %>">
	<input type="hidden" id="host" value="<%= host %>">
	<input type="hidden" name="room_number" value="<%= room_id %>">
	<div class="chat-bar">
		<!-- Primary Navigation
		============================================= -->
		<nav id="primary-menu" class="style-5 pull-left">
			<ul class="norightborder norightpadding norightmargin chat-ul">
				<li>
					<a href="#" class="feature-box fbox-rounded fbox-effect pr-45" id="toggle_chat">
						<div class="fbox-icon pt-5">
							<i class="icon-comments-alt pt-10"></i>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="feature-box fbox-rounded fbox-effect pr-45" id="toggle_none">
						<div class="fbox-icon pt-5">
							<i class="icon-minus-sign pt-10"></i>
						</div>
					</a>
				</li>
			</ul>
		</nav><!-- #primary-menu end -->
		<input type="text" id="m" style="height: 50px; font-size: 30px; padding-top: 3px; flex: 1;" placeholder="Type &amp; Hit Enter..">
		<button class="button button-3d button-xlarge button-rounded button-teal pull-right" style="margin-top: 2px;" id="sm">Send</button>
	</div>

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

  <%- include('modules/script') -%>

	<!-- Bootstrap library -->
	<script src="assets/js/bootstrap.js"></script>

	<script src="deck/core/deck.core.js"></script>

	<!-- Extension JS files. Add or remove as needed. -->
	<script src="deck/extensions/menu/deck.menu.js"></script>
	<script src="deck/extensions/goto/deck.goto.js"></script>
	<script src="deck/extensions/status/deck.status.js"></script>
	<script src="deck/extensions/navigation/deck.navigation.js"></script>
	<script src="deck/extensions/scale/deck.scale.js"></script>

	<!-- jQuery UI -->
	<script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

	<!-- Raphael library -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>

	<!-- Main JavaScript file -->
	<script src="assets/js/script.js"></script>

  <script>
    $(function() {
			var socket   = io.connect($('#host').val() + '/lobby');

			function initDeck(is_admin) {
				if (is_admin) {
					$.deck.defaults = {
						classes: {
							after: 'deck-after',
							before: 'deck-before',
							childCurrent: 'deck-child-current',
							current: 'deck-current',
							loading: 'deck-loading',
							next: 'deck-next',
							onPrefix: 'on-slide-',
							previous: 'deck-previous'
						},

						selectors: {
							container: '.deck-container',
							slides: '.slide'
						},

						touch: {
							swipeDirection: false,
							swipeTolerance: 60
						},

						initLockTimeout: 1000,
						hashPrefix: 'slide',
						preventFragmentScroll: true,
						setAriaHiddens: true
					}
				}

				$.deck('.slide');
			}

			function reloadSlides(slides) {
				var $slides = $('.deck-container');

				$slides.empty();

				if (slides.list.length >= 1) {
					for (var i = 0; i < slides.list.length; i++) {
						var slide = slides.list[i];
						var ext   = slide.split('.').pop();

						if (ext.toLowerCase() !== 'pdf') {
							var html = '';

							html += '<section class="slide">';
							html += '<img src="/slide/' + room + '/' + slide + '" style="width: 100%; height: 100%;">';
							html +=	'</section>';

							$slides.append(html);	
						}
					}
				} else {
					$slides.append('<section class="slide"><h1>No Slide Available</h1></section>');
				}

				$.deck('.slide');
			}

			var $container = $('.deck-container');
			$container.width('100%').height($(window).height() - 129);

			var room = $('input[name=room_number]').val();
			var user = JSON.parse($('#user').val());

			//Admin state
			var mouse_state = false;

			var prevMouseX, prevMouseY, currMouseX, currMouseY     = 0;
      var prevScreenX, prevScreenY, currScreenX, currScreenY = 0; 
			//End of Admin state

			// Admin and User
			socket.emit('join_room', { room: room, id: user.id });

			socket.on('access_granted', function(data){
				if (user.id == data.admin) {
					$('.ctrl-panel').append(data.html).show();
					initDeck(true);
					admin_privileges();
					reloadSlides(data.slides);
				}
			});

			socket.on('force_hash', function(currentHash){
				window.location.hash = currentHash;
			});

			socket.on('load_slides', function(data){
				if (user.id == data.caller) {
					initDeck(true);
					user_privileges();
					reloadSlides(data.slides);
					window.location.hash = data.hash;
				}
			});

			socket.on('admin_response', function(eventName){ 
				$.deck(eventName); 
				socket.emit('change_current', { hash: location.hash, room: room }); 
			});

			socket.on('update_slide', function(slides){
				reloadSlides(slides);
				location.reload();
			});

			$('ul.chat-ul li a#toggle_chat').click(function(e) {
        e.preventDefault();
				$('.chat-list').toggle();
    	});

			$('ul.chat-ul li a#toggle_none').click(function(e) {
				e.preventDefault();
				
				$('.ctrl-panel').toggle();
			});

			var key_map = {};
			onkeydown = onkeyup = function(e){
				e = e || event; // to deal with IE
				key_map[e.keyCode] = e.type == 'keydown';
				var isMsgFocus = (key_map[13] && $('#m').is(':focus')); //Enter key

				if (key_map[16] && isMsgFocus) {
					$('#m').val($('#m').val() + '\n');
				} else if (isMsgFocus) {
					emitMessage();
				}
			}

			function emitMessage() {
				socket.emit('chat_message', { 
					message: user.name + ': ' + $('#m').val(),
					room: room
				});
				$('#m').val('');
			}

			$('#sm').click(function(){
				emitMessage();
			});

			socket.on('chat_message', function(msg){
				$('#messages').append($('<li>').html('<p class="white">' + msg + '</p>'));
			});

			var user_privileges = function() {
				var paper = new Raphael(
					$('#canvas-container'), 
					window.width, 
					window.height
				);
				
				var circle = paper.circle(0, 0, 10).attr({ fill: '#fff' });

				circle.hide();

				socket.on('mouse_toggle_update', function(data){
					if (data) circle.show();
					else circle.hide();
				});

				socket.on('mouse_position_update', function(data){
					circle.animate({
						cx: data.mx * $(window).width(),
						cy: data.my * $(window).height()
					}, 1, 'linear');
				});

				socket.on('online_counter', function(val){
					$('#online').text(val);
				});

				$(window).on('hashchange', function(){
					socket.emit('illegal_hash');
				});
			};

			var admin_privileges = function() {
				window.setInterval(function(){
          if (mouse_state) {
            $("body").mousemove(function(e) {
              currMouseX = e.pageX;
              currMouseY = e.pageY;
              currScreenX = e.screenX;
              currScreenY = e.screenY;
            });

            if (prevMouseX !== currMouseX || prevMouseY !== currMouseY) {
              var newX = (prevMouseX * currScreenX) / prevScreenX;
		          var newY = (prevMouseY * currScreenY) / prevScreenY;

              prevMouseX = currMouseX;
              prevMouseY = currMouseY;

              prevScreenX = currScreenX;
              prevScreenY = currScreenY;

              socket.emit('mouse_position', { 
                mx: (newX / $(window).width()), 
                my: (newY / $(window).height())
              });
            }
          }
        }, 100);

        function toggle_mouse() {
          $icon = $('.mouse-toggle').find('.mouse');

          if (!mouse_state) $icon.css('color', 'green');
          else $icon.css('color', 'red');

          mouse_state = !mouse_state;
          socket.emit('admin_request', { eventName: 'mouse_toggle', content: mouse_state });
        };

        $(document).keydown(function(event){
          if (event.which == "17") toggle_mouse(); //ctrl key
        });

        $('.mouse-toggle').on('click', function(){
          toggle_mouse();
        });

				$('.ctrl-panel').on('click', '#upload-file', function(){
					$('#pdf-file').trigger('click');
				});

				$('.ctrl-panel').on('click', '#pdf-upload', function(){
					var formData = new FormData($('form#pdf-upload-form').get(0));
					
					$.ajax({
						url: '/admin/file-upload/' + room,
						data: formData,
						processData: false,
						contentType: false,
						type: 'POST',
						success : function(data) {
							socket.emit('illegal_hash');
							//location.reload();
						}
						,error:function(a, b, c) {
							console.log(a);
							console.log(b);
							console.log(c);
						}
					}).done(function(data) {
						//On done
					});
				});

				$('.ctrl-panel').on('change', '#pdf-file', function(){
					var fname = ($(this).val() != '') ? $(this).val().split('\\').pop().split('/').pop() : null;

					$('#pdf-name').val(fname);
				});

				$('.ctrl-panel').on('click', '.navigate', function() {
					var id = $(this).data('act'); // or this.id

					socket.emit('admin_request', { eventName: id, room: room });
				});

				$('.ctrl-panel').on('click', '.toggle-panel', function() {
					$('.sub-ctrl-panel').toggle();
				});
			}
		});
  </script>
</body>
</html>