<%- include('../modules/head') -%>
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    <%- include('../modules/header-lobby') -%>

		<!-- Content
		============================================= -->
		<section id="content">
      <div class="container clearfix" style="margin-top: 40px;">
        <div class="fancy-title title-border">
          <h3>Available Room</h3>
        </div>

        <div class="row bottommargin-sm clearfix">
          <div class="col-md-8 bottommargin">
            <!-- Portfolio Filter
            ============================================= -->
            <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">
              <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
              <li><a href="#" data-filter=".pf-others">Others</a></li>
            </ul><!-- #portfolio-filter end -->

            <div class="clear"></div>

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio grid-container portfolio-4 clearfix"></div>
          </div>
        </div>
      </div>
		</section><!-- #content end -->
    <input type="hidden" id="user" value="<%= user %>">

		<%- include('../modules/footer') -%>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

  <%- include('../modules/script') -%>
  <script>
    $(function(){
      var socket = io.connect('<%= host %>/lobby');
      var user   = JSON.parse($('#user').val());

      socket.emit('req_available_room');

      socket.on('res_available_room', function(rooms){
        $('#portfolio').append(rooms);
      });

      socket.on('room_exists', function(msg){
        $('#room-error').text(msg);
        $('.room-error').show();
      });

      socket.on('room_created', function(data){
        console.log(user.id);
        console.log(data.admin);
        if (user.id == data.admin) {
          $('.room-error').hide();
          window.location = '/room/' + data.room;
        }
      });

      $('#c-room').on('click', function(){
        var room_id   = $('#room-id').val();
        var room_name = $('#room-name').val();

        socket.emit('create_room', { 
          id: room_id, 
          name: room_name,
          admin: JSON.stringify(user)
        });
      });
    });
  </script>
</body>
</html>