<li style="height: 130px;" id="<%= id %>">
  <div class="testimonial">
    <div class="testi-image">
      <a href="/room/<%= id %>"><img src="data:image/png;base64,<%= identicon %>" alt="Room Thumbnail"></a>
    </div>
    <div class="testi-content">
      <span><b>Room ID: <%= '#' + id %></b></span>
      <br>
      <span>Room Name : <%= name %></span>
      <div class="testi-meta">
        <%= admin.name %>
        <span><%= admin.email %></span>
      </div>
    </div>
  </div>
</li>