<%- include('../modules/head') -%>
<body class="stretched" id="canvas-container">
	<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="assets/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/revealjs/css/reveal.css" />
	<link rel="stylesheet" href="assets/revealjs/css/theme/black.css" id="theme" />
	<link rel="stylesheet" href="assets/css/fontawesome.css" -->

	<link type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
	<link type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link type="text/css" href="deck/core/deck.core.css">

	<link type="text/css" href="deck/extensions/goto/deck.goto.css">
	<link type="text/css" href="deck/extensions/menu/deck.menu.css">
	<link type="text/css" href="deck/extensions/navigation/deck.navigation.css">
	<link type="text/css" href="deck/extensions/status/deck.status.css">
	<link type="text/css" href="deck/extensions/scale/deck.scale.css">

	<link type="text/css" href="deck/themes/style/web-2.0.css">

	<link type="text/css" href="deck/themes/transition/horizontal-slide.css">
	<script src="deck/modernizr.custom.js"></script>
	<style>
		.ctrl-panel {
			padding: 5px;
			position: fixed;
			bottom: 50px;
			left: 90;
			right: 0;
			padding-bottom: 10px; 
			width: 100%;  
			z-index: 9;
		}
		#messages { 
			background:rgba(0,0,0,0.5); 
			padding: 5px; 
			margin-bottom: 35px; 
			position: fixed; 
			bottom: 0; 
			width: 100%; 
			max-height: 300px; 
			overflow: auto;
			resize: vertical;
			z-index: 9;
		}
		div.form-group { margin-bottom: 0px; }
		#messages li { padding: 2px 10px; }
		.darkorange { color:darkorange }
		.white { color: white }
		svg { 
			width : 100%; 
			height: -webkit-calc(100% - 35px);
			height:    -moz-calc(100% - 35px);
			height:         calc(100% - 35px);
		}
		.no-slide { background-image: url('http://via.placeholder.com/1280x800'); width: 100%; height: 100%; }
		.pr-45 { padding-right: 45px !important; }
		.pl-45 { padding-left: 45px !important; }
		.pt-5 { padding-top: 5px !important; }
		.pt-10 { padding-top: 10px !important; }

		.chat-bar {
			z-index: 299;
			position: fixed;
			width: 100%;
			height: 60px;
			background-color: #1ABC9C;
			font-size: 20px;
			line-height: 36px;
			top: auto;
			bottom: -5px;
		}

		.chat-square-button {
			width: 50px;
			height: 50px;
		}
	</style>
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    <%- include('../modules/header-lobby') -%>

		<div class="deck-container">
			<!-- Begin slides. Just make elements with a class of slide. -->
			<section class="slide">
				<h1>Loading...</h1>
			</section>
		</div>
	</div><!-- #wrapper end -->
	<div class="chat-list">
		<ul class="resize vertical" id="messages" style="margin-left: 0px; margin-bottom: 60px;"></ul>
	</div>
	<div class="ctrl-panel" style="display: none;"></div>
	<input type="hidden" id="user" value="<%= user %>">
	<input type="hidden" id="host" value="<%= host %>">
	<input type="hidden" name="room_number" value="<%= room_id %>">
	<div class="chat-bar">
		<!-- Primary Navigation
		============================================= -->
		<nav id="primary-menu" class="style-5 pull-left">
			<ul class="norightborder norightpadding norightmargin chat-ul">
				<li>
					<a href="#" class="feature-box fbox-rounded fbox-effect pr-45" id="toggle_chat">
						<div class="fbox-icon pt-5">
							<i class="icon-comments-alt pt-10"></i>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="feature-box fbox-rounded fbox-effect pr-45" id="toggle_none">
						<div class="fbox-icon pt-5">
							<i class="icon-minus-sign pt-10"></i>
						</div>
					</a>
				</li>
			</ul>
		</nav><!-- #primary-menu end -->
		<input type="text" id="m" style="height: 50px; font-size: 30px; padding-top: 3px; flex: 1;" placeholder="Type &amp; Hit Send Button..">
		<button class="button button-3d button-xlarge button-rounded button-teal pull-right" style="margin-top: 2px;" id="sm">Send</button>
	</div>
	<div style="position: absolute; top: 80px; width: 50%; left: 50%; transform: translate(-50%, 0%);z-index: 30; text-align: center; display: none;" class="progress-wrapper">
		<p id="progress-status" style="margin-bottom: 5px;">Uploading...</p>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="background-color:#1ABC9C; top: 10px;">
				<span id="progress-value">0%</span>
			</div>
		</div>
	</div>

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

  <%- include('../modules/script') -%>

	<!-- Bootstrap library -->
	<script src="assets/js/bootstrap.js"></script>

	<script src="deck/core/deck.core.js"></script>

	<!-- Extension JS files. Add or remove as needed. -->
	<script src="deck/extensions/menu/deck.menu.js"></script>
	<script src="deck/extensions/goto/deck.goto.js"></script>
	<script src="deck/extensions/status/deck.status.js"></script>
	<script src="deck/extensions/navigation/deck.navigation.js"></script>
	<script src="deck/extensions/scale/deck.scale.js"></script>

	<!-- jQuery UI -->
	<script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

	<!-- Raphael library -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>

	<!-- Main JavaScript file -->
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/jquery.redirect.js"></script>
  <script src="/assets/js/admin.js"></script>
</body>
</html>